@tailwind base;
@tailwind components;
@tailwind utilities;

.card .front {
  position: absolute;
  inset: 0;
  z-index: 99;
  cursor: pointer;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.card .flipped .front {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
  cursor: not-allowed;
}

.card .back {
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.card .flipped .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
